<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.walkingarchive.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.walkingarchive.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.walkingarchive.app.SearchActivity" />
        <activity android:name="org.walkingarchive.app.SearchResultsActivity" />
        <activity android:name="org.walkingarchive.app.CardViewerActivity" />
        <activity
            android:name="org.walkingarchive.app.MyCollectionActivity"
            android:label="@string/title_activity_my_collection" >
        </activity>
        <activity
            android:name="org.walkingarchive.app.AccountInforActivity"
            android:label="@string/title_activity_account_infor" >
        </activity>
        <activity
            android:name="org.walkingarchive.app.ChangePwdActivity"
            android:label="@string/title_activity_change_pwd" >
        </activity>
        <activity
            android:name="org.walkingarchive.app.TradeHistoryActivity"
            android:label="@string/title_activity_trade_history" >
        </activity>
        <activity
            android:name="org.walkingarchive.app.OCR"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_ocr"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="org.walkingarchive.app.ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
    </application>

</manifest>